In [12]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import pandas as pd

path = "F:/software/selenium/geckodriver.exe"
driver = webdriver.Firefox(executable_path=path)

driver.get("https://www.adamchoi.co.uk/overs/detailed")

all_match = driver.find_element(by="xpath", value='//label[@analytics-event="All matches"]')
all_match.click()

matches = driver.find_elements(by="tag name", value='tr')

date = []
home_team = []
score = []
away_team = []

for i in matches:
    date.append(i.find_elements(by="tag name", value="td")[0].text)
    home_team.append(i.find_elements(by="tag name", value="td")[1].text)
    score.append(i.find_elements(by="tag name", value="td")[2].text)
    away_team.append(i.find_elements(by="tag name", value="td")[3].text)


d = {'date':date,'home team':home_team ,'score':score, 'away team':away_team}
df = pd.DataFrame(d)
df.to_csv('data.csv', index=False)

#for scraping japan data

dropdown = Select(driver.find_element(by="id", value="country"))
dropdown.select_by_visible_text("Japan")


matches2 = driver.find_elements(by="tag name", value='tr')
date2 = []
home_team2 = []
score2 = []
away_team2 = []

for i in matches2:
    date2.append(i.find_elements(by="tag name", value="td")[0].text)
    home_team2.append(i.find_elements(by="tag name", value="td")[1].text)
    score2.append(i.find_elements(by="tag name", value="td")[2].text)
    away_team2.append(i.find_elements(by="tag name", value="td")[3].text)


d2 = {'date':date2,'home team':home_team2 ,'score':score2, 'away team':away_team2}
df2 = pd.DataFrame(d2)
df2.to_csv('japan_data.csv', index=False)




#driver.quit()

C:\Users\Manav Patel\AppData\Local\Temp\ipykernel_6908\452475755.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Firefox(executable_path=path)

In [13]:
df

           date       home team  score    away team
0    05-08-2022  Crystal Palace  0 - 2      Arsenal
1    13-08-2022         Arsenal  4 - 2    Leicester
2    20-08-2022     Bournemouth  0 - 3      Arsenal
3    27-08-2022         Arsenal  2 - 1       Fulham
4    31-08-2022         Arsenal  2 - 1  Aston Villa
..          ...             ...    ...          ...
555  01-03-2023       Liverpool  2 - 0       Wolves
556  04-03-2023          Wolves  1 - 0    Tottenham
557  12-03-2023       Newcastle  2 - 1       Wolves
558  18-03-2023          Wolves  2 - 4        Leeds
559  01-04-2023   Nott'm Forest  ? - ?       Wolves

[560 rows x 4 columns]

In [14]:
df2

           date            home team  score          away team
0    18-02-2023         Cerezo Osaka  2 - 2    Albirex Niigata
1    26-02-2023  Sanfrecce Hiroshima  1 - 2    Albirex Niigata
2    04-03-2023      Albirex Niigata  2 - 2  Consadole Sapporo
3    11-03-2023      Albirex Niigata  1 - 0  Kawasaki Frontale
4    18-03-2023   Urawa Red Diamonds  2 - 1    Albirex Niigata
..          ...                  ...    ...                ...
103  24-02-2023      Shonan Bellmare  2 - 2        Yokohama FC
104  04-03-2023          Yokohama FC  1 - 3    Kashima Antlers
105  12-03-2023             FC Tokyo  3 - 1        Yokohama FC
106  18-03-2023          Yokohama FC  1 - 4        Kyoto Sanga
107  01-04-2023          Yokohama FC  ? - ?     Avispa Fukuoka

[108 rows x 4 columns]